.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0 auto;
    background-color: #1B262C;
    color: white;

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .logoTitle {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            padding: 0;
            color: var(--primary);
        }
    }

    .userImage{
        border-radius: 50%;
        object-fit: cover;
        margin-left: 1rem;
    }
}
.container{
    height: 100px;
    width: 100%;

}

.chatBackground {
    background-color: #BBE1FA;
    height: 70%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.goAbogados{
       position: absolute;
        padding: 5px;
        background-color: #3282B8;
        color: #1B262C;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 10px 15px;
        margin-top: 20px;
        width: 200px;
}

.ejemplos{
    
}

.nuevoChat{
    display: block;
    justify-content: center;
}

.chatForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}