.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0 auto;
    background-color: #1B262C;
    color: white;

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .logoTitle {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            padding: 0;
            color: var(--primary);
        }
    }

    .userImage {
        border-radius: 50%;
        object-fit: cover;
        margin-left: 1rem;
    }
}

.chat {
    background-color: #BBE1FA;
    height: 80vh;
    width: 95%;
    margin: 2.5% auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;

    .goAbogados {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px;
        background-color: #3282B8;
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 10px 20px;
    }

    .chatBackground {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto 0;

        h2 {
            text-align: center;
            margin: 0;
            padding: 0;
            margin-top: 2rem;
        }

        h3 {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .ejemplos {
            margin: 40px 0 40px 0;
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            .ejemplo {
                width: 150px;
                justify-content: space-around;
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }

    }

    .conversacion {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 4rem;
        width: 100%;
        overflow: auto;
        height: 50vh;

        .userMessage {
            align-self: flex-end;
            background-color: #1B262C;
            color: white;
            padding: 1rem;
            border-radius: 5px;
            max-width: 60%;
            margin-right: 20px;
        }

        .assistantMessage {
            align-self: flex-start;
            background-color: #fff;
            color: #000;
            padding: 1rem;
            border-radius: 5px;
            max-width: 60%;
        }
    }
    
    .conversacion::-webkit-scrollbar {
        width: 8px;
    }
    .conversacion::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }
    .conversacion::-webkit-scrollbar-track {
        background-color: #eee;
        border-radius: 10px;
    }

    .chatForm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        margin-top: auto;

        input {
            width: 80%;
            height: 100%;
            padding: .5rem 1rem;
            border: 1px solid #1B262C;
            border-radius: 5px;
            outline: none;
            font-size: 1.2rem;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 40px;
            border: 1px solid #1B262C;
            border-radius: 5px;
            font-size: 1.2rem;
            background-color: #3282B8;
            color: #1B262C;
            cursor: pointer;
        }

    }

}

.terminos {
    margin-left: 2.5%;
    margin-bottom: 10px;

    p {
        font-size: 1.2rem;
    }

    span {
        color: blue;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}